<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zapp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVLocalWWW</name>
    <js-module name="CDVZAPP" src="www/zapp.js">
        <clobbers target="CDVZAPP" />
    </js-module>
    <platform name="ios">
        <header-file src="src/ios/CDVZAPP.h" />
        <source-file src="src/ios/CDVZAPP.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="AlipaySDK" />
            </pods>
        </podspec>
    </platform>

</plugin>
