<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zapp" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVLocalWWW</name>
    <js-module name="CDVZAPP" src="www/zapp.js">
        <clobbers target="CDVZAPP" />
    </js-module>
    <preference name="URL_SCHEME" />
    <platform name="ios">
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$URL_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <preference name="url_scheme" value="$URL_SCHEME" />
        </config-file>
        <header-file src="src/ios/CDVZAPP.h" />
        <source-file src="src/ios/CDVZAPP.m" />
        <framework src="src/ios/AlipaySDK.framework" custom="true" />
    </platform>

</plugin>
